<% provide(:title, "Comment") %>
 
<div class="row">
	<div class="col-md-6"> 
  <section class="microposts">
      <%= render @micropost %>
  </section>
  
	  <% if logged_in? && (current_user.followers.include?(@micropost.user) || 
	  		current_user.id == @micropost.user.id)  %>
	  		<%@comment = current_user.comments.build(content: params[:content])%>
	    	<%@comment.micropost_id = @micropost.id%>    
	    	<%= render 'shared/comment_form' %>
	  <% end %>
  </div>
  <div class="col-md-6"> 	
  	<h3>Comments (<%= @micropost.comments.count %>)</h3>
  	
    <% if @micropost.comments.any? %>
      <ol class="comments">
        <%= render @comments %>
      </ol>
      <%= will_paginate @comments %>
    <% end %>
  </div>
</div>